= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body, :class => "tinymce", :rows => 20, :cols => 50
    = tinymce
  .field
    = f.label :tags
    - get_tag_list.each do |tag|
      = check_box_tag :tag_ids, tag.id, @article.tag.include?(tag), :name => 'article[tag_ids][]'
      = label_tag :tag_ids, tag.title
  .actions
    = f.submit 'Create Article'
