- @articles.each do |article|
  %article
    %h2
      = link_to article.title, article_path(article)
      =render partial: "adminbar", locals: { article: article}
    - split = article.body.split("<!-- pagebreak -->")
    = split[0].html_safe
    - if split[1]
      %br
      %br
      = link_to "Read More >", article_path(article), class: "pull-right"
    %br
    %hr
      %span.fa.fa-tags &nbsp;
      - tag_count = article.tag.count
      - article.tag.each_with_index do |tag, i|
        - if (i + 1) == tag_count
          = tag.title
        - else
          = "#{tag.title}, "
    .pull-right
      %span.fa.fa-clock-o &nbsp; #{article.created_at.strftime("%d-%m-%Y")} &nbsp; &nbsp;
      %span.fa.fa-user-secret &nbsp; #{article.user.first_name}
    %hr
    %br
